@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}
.separator::before {
  left: 0px;
}
.separator::after {
  right: 0px;
}
.separator::before,
.separator::after {
  content: '';
  position: absolute;
  top: 70%;
  width: calc(50% - 25px);
  height: 1px;
  @apply bg-zinc-300;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range'] {
  appearance: none;
  display: inline-block;
  width: 18em;
  height: 0.5em;
  position: relative;
  border-radius: 5px;
  background-color: theme('colors.salamanca-blue-600');
  outline: none;
}
.factor::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: theme('colors.salamanca-blue-600');
  border: none;
}

/* para browsers da MS */
.factor::-ms-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: theme('colors.salamanca-blue-600');
  border: none;
}

input[type='range']::-webkit-slider-thumb {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 4px solid theme('colors.salamanca-blue-600');
  border-radius: 100%;
}
input[type='range']::-webkit-slider-thumb:hover {
  background-color: lightblue;
}
